<%= form_tag '/sessions' do -%>
<p id="error">
  <%= flash[:error] %>
</p>

<div class="row">
  <div class="column">
    <label>Email</label>
    <%= text_field_tag "email" %>
  </div>
</div>
<div class="row">
  <div class="column">
    <label>Password</label>
    <%= password_field_tag "password" %>
  </div>
</div>
<div class="row">
  <div class="column small-12 medium-12 large-12 small-centered text-center">
    <%= submit_tag 'Sign In', class: "button small-5" %>
  </div>
</div>
<div class="row">
  <div class="column small-12 medium-12 large-12 small-centered text-center" >
    Not a member? <%= link_to 'Sign up now!', new_user_url ,class: 'center' %>
  </div>
</div>
<% end %>
