<%= form_tag '/sessions' do -%>
  <p id="error">
    <%= flash[:error] %>
  </p>
  <div class="row">
    <div class="large-12 columns">
      <label>Email</label>
      <%= text_field_tag "email" %>
    </div>
    <div class="large-12 columns">
      <label>Password</label>
      <%= password_field_tag "password" %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns" >
      <%= submit_tag 'Login', class: "button expand" %>
    </div>
  </div>
<% end %>
