<p id="notice"><%= notice %></p>

<h3>"<%= @room.name %>" <small>last measures</small></h3>
<table role="grid">
  <thead>
    <tr>
      <th width="100">#</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Sent at</th>
    </tr>
  </thead>

  <tbody>
    <% @room.measures.order('created_at DESC').take(10).each do |measure| %>
      <tr>
        <td><%= measure.id%></td>
        <td><%= measure.temperature.to_i%>ºC</td>
        <td><%= measure.humidity.to_i %>%</td>
        <td><%= measure.created_at.strftime("%B %e, %Y at %I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_room_path(@room.user, @room) %> |
<%= link_to 'Back', user_rooms_path %>
